h1 {
    padding-top: 30px;
    padding-left: 47px;
    color: #fff1d0;
}

h2 {
    padding-bottom: 5px;
    color: #379683;
}    

h5 {
    padding-top: 30px;
    padding-left: 47px;
    padding-right: 47px;
    color: #fff1d0;
}

.success-center {
    margin: auto;
    width: 68%;
    position: absolute;
    left: 65%;
    top: 500%;
}

.sidenav {
    height: 100%;
    width: 350px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #379683;
    overflow-x: hidden;
    padding-top: 20px;
} 

.contact-me {
    margin-top: 100px;
    padding-left: 47px;
    padding-right: 47px;
    color: #fff1d0;
}

.col-md-8 {
    padding-top: 50px;
}

.center {
    margin: auto;
    width: 80%;
    position: absolute;
    left: 59%;
    top: 10%;
}

.description {
    padding-bottom: 5px;
}

.form-group {
    padding-top: 10px;
    font-size: 1.2rem;
}

.form-control-label-step-one {
    padding-left: 20px;
}

.logo-lotto-max {
    margin-left: 5px;
}

.form-control-label-lotto-max {
    margin-left: 5px;
}

.form-check {
    padding-top: 10px;
    padding-bottom: 10px;
}

.form-check-label {
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 1.2rem;
}

.form-check-input {
    width: 1.2rem;
    height: 1.2rem;
    padding-right: 1rem;
    margin-right: 1rem;
    padding-left: 6rem;
}

.text-muted {
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.btn {
    font-size: 1.2rem;
}

